/* selector{
    propiedad:valor;
} */


body{
    background-color:#1E2040;
    color:#939EBF;
      font-family: "swashington-jf", sans-serif;
}
main{
    width:100%

}
h1{
      font-family: "cesso", sans-serif;
}    
header{
    font-size: 70px;
}
h1{
    width: 100%;
    text-align: center;
    font-size: 3rem;
}
p {
    line-height: 1em;
}
a{
    color:#BF84A0
}
