/* selector{
    propiedad:valor;
} */
:root {
    --font-family: "Google Sans Code", monospace;
    --font-title: "Archivo Black", sans-serif;
    --background-color: #000000;
    --accent-color: #9573e9;
    --color: rgb(24, 152, 221);
    --text-color: linen;
}

html {
    font-size: 10px;
}

body {
    background-color: var(--background-color);
    color: var(--color);
    font-family: var(--font-family);
    font-size: 1.6em;
}
main {
   width:80%;
   margin: 0 auto;
   max-width: 960px;
}

h1,
h2,
h3 {
    font-family: var(--font-title);
    text-transform: uppercase;
}

h1 {
    font-size: 4em;
    text-align: center;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

p {
    /* line-height: 1em; */
    max-width: 40ch;
}
ul ol {
  padding:0;
  margin:0;
  list-style:none;
}

a {
    padding: .5em 1em;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    display:inline-block;
    margin:.5em 0;
    border: 2px solid var(--accent-color);
    background-color: var(--text-color);
    color: var(--background-color);
    width: 100px;
    color: var(--accent-color);
    transition: all .5s ease-in-out;

}

a:visited {
    color: var(--accent-color);
}

a:focus {
    color: var(--accent-color);
    background-color: var(--text-color);
}

a:active {
    color: var(--accent-color);
}

a:hover {
    color: var(--background-color);
    opacity: 1;
}